<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equive='X-UA-Compatible' content='IE=edge'>
    <title>student add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body class="login">
    <form action="" method="POST" class="form">
        {% include 'base.html' %}
        {% csrf_token %}
        
            {{form}}
        <button>Create</button>
    </form>
</body>
</html>